@model ShoppingCartViewModel

@{
    ViewData["Title"] = "Shopping Cart";
}
    <div class-="d-flex gap-1">
        <div class="row">
            <div class="col-md-6 col-lg-8 cols-sm-12 m-0">
                @foreach (var item in Model.ShoppingCartItems)
                {
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="@item.ImgUrl" alt="game image" width="100%" class="rounded"/>
                                </div>
                                <div class="col-md-9 item-info">
                                    <h5 class="card-title">@item.Name</h5>
                                    <p class="card-text item-total-price">Price: 
                                        <span>@item.TotalPrice.ToString("c")</span>
                                    </p>
                                    <form method="post">
                                        <p class="card-text">Quantity:
                                            <input type="number" class="quantity-input" value="@item.Quantity"/>
                                            <span name="Count" class="small text-danger"></span>
                                        </p>
                                    </form>
                                    <form method="post">
                                        <input type="hidden" name="gameId" value="@item.GameId">

                                        <button asp-area="" asp-controller="ShoppingCart" asp-action="RemoveGameFromCart"
                                                type="submit" class="btn btn-danger">
                                            Remove
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-6 col-lg-4 cols-sm-12 m-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Total Price</h5>
                        <p class="card-text">
                            <span id="cartTotalPrice">@Model.TotalPrice.ToString("c")</span>
                        </p>
                        <select class="form-control mb-3" id="discount_form">
                            <option selected value="0">0% Discount</option>
                            <option value="1">5% Discount - 5000 Magic Points</option>
                            <option value="2">15% Discount - 10000 Magic Points</option>
                            <option value="2">50% Discount - 50000 Magic Points</option>
                        </select>
                        <a class="btn btn-primary w-100" asp-action="Checkout">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    // Set global variables that the external JS file can use:
    window.cartUpdateUrl = '@Url.Action("UpdateCartQuantity", "ShoppingCart")';
    window.updateItemPriceUrl = '@Url.Action("GetItemTotalPrice", "ShoppingCart")'
</script>
<script src="~/js/shoppingCart.js" sp-append-version="true"></script>
    