@model AllGamesQueryModel
@{
    ViewData["Title"] = "All Games";
}
<div class="page-container">
    <form method="get">
        <div class="row">
            <div class="mb-2">
                <input asp-for="SearchTerm" type="text" readonly class="search-string">
            </div>
            <input asp-for="SubCategory" type="text" hidden>
            <input asp-for="Category" type="text" hidden>
            <input asp-for="CurrentPage" type="number" hidden>
            <div class="mb-3 sorting-container">
                <label asp-for="Sort">Sort:</label>
                <select asp-for="Sort" class="form-control" onchange="this.form.submit()">
                    <option value="0">Newest</option>
                    <option value="1">Price descending</option>
                    <option value="2">Price ascending</option>
                </select>

                <button
                    class="filters-button"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#filterMenu"
                    aria-controls="filtersMenu"
                >
                    Filters
                </button>
            </div>
        </div>

        @{
            var previousPage = Model.CurrentPage - 1 > 0 ? Model.CurrentPage -1 : 1;
            var maxPage = (int)Math.Ceiling((double)Model.TotalGamesCount / Model.GamesPerPage);
        }



        @if (!Model.Games.Any())
        {
            <h2 class="text-center">No games found by the given criteria!</h2>
        }

        <div class="games-container">
            @foreach (var game in Model.Games)
            {
                <partial name="_GamePartial" model="@game" />
            }
        </div>

        <div class="row mb-2 mt-4">

            <div class="col-md-12 d-flex gap-2 d-md-flex justify-content-end">
                <button type="submit" class="btn page-btn @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
                        onclick="document.querySelector('#CurrentPage').value = parseInt(document.querySelector('#CurrentPage').value) - 1"
                        > Previous Page
                </button>

                @{
                    var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                                                 !Model.Games.Any();
                }


                <button type="submit" class="btn page-btn @(shouldButtonBeDisabled ? "disabled" : "")"
                        onclick="document.querySelector('#CurrentPage').value = parseInt(document.querySelector('#CurrentPage').value) + 1"
                    >
                     Next Page
                </button>
            </div>


            <div
                class="offcanvas offcanvas-start offcanvas-custom side-menu p-0"
                tabindex="-1"
                id="filterMenu"
                aria-labelledby="filterMenuLabel"
            >
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="filterMenuLabel">Filter Menu</h5>
                    <button
                        type="button"
                        class="btn-close btn-close-white"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="offcanvas-body">
                    <div class="accordion-item side-menu-item">
                        <div class="accordion-header d-flex align-items-center justify-content-between"
                             id="headingBrandsFilter">
                            <h6 class="mb-0 text-white">Brands</h6>
                            <button
                                class="btn btn-link p-0"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseBrandsFilter"
                                aria-expanded="false"
                                aria-controls="collapseBrandsFilter">
                                <i class="bi bi-chevron-down text-light"></i>
                            </button>
                        </div>
                        <div
                            id="collapseBrandsFilter"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingBrandsFilter"
                            data-bs-parent="#accordionMenu">
                            
                            <div class="accordion-body">
                                @foreach (var brand in Model.Brands)
                                {
                                    <div class="select-brands-option">
                                        <input type="checkbox" name="selectedBrands" value="@brand"
                                               @(Model.SelectedBrands.Contains(brand) ? "checked" : "") />
                                        <label>@brand</label>
                                    </div>
                                }
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="controls">
                        <button>Filter</button>
                        <button type="submit" id="clear-filters-button">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
</div>
@section Styles
{
    <link rel="stylesheet" href="~/css/Game/all.css" />
}

<script src="~/js/allGames.js"></script>
