@model GameDetailsViewModel

@{
    ViewData["Title"] = @Model.Name;
}

<form method="post">
    <div class="details-container">
        <div class="details-image-container">
            <img src="@Model.ImgUrl" alt="@Model.Name Image"/>
        </div>
        <div class="details">
            <h6>@Model.Name</h6>
            <p>Brand: @Model.BrandName</p>
            <p>Number of players: @Model.NumberOfPlayers</p>
            <p>Age Rating: @Model.AgeRating</p>
            <p>Category: @Model.SubCategoryName</p>
        </div>
        <div class="pricing-details">
            <div class="prices-card">
                @if (Model.OriginalPrice != Model.Price)
                {
                    <div class="game-original-price">
                        <p>@Model.OriginalPrice.ToString("C")</p>
                    </div>
                }
                <div class="game-price">
                    <p>@Model.Price.ToString("C")</p>
                </div>
                @if (Model.OriginalPrice != Model.Price)
                {
                    <div class="discount-container">
                        You save @Model.Discount%
                    </div>
                }
                <div class="reward">
                    <p>You earn
                        <img src="~/images/magic_points_icon Large.png" alt="magic points"/>
                        @($"{Model.Price * 100:f0}")
                    </p>
                </div>
                <div class="add-to-cart-container">
                    <button asp-area="" asp-controller="ShoppingCart" asp-action="AddGameToCart"
                            asp-route-gameId="@Model.Id"
                            type="submit" disabled="@(!Model.IsInStock)">
                        @(Model.IsInStock ? "Add to Cart" : "Out Of Stock")
                    </button>
                </div>
            </div>
        </div>
        <div class="description">
            <p>@Model.Description</p>
        </div>
    </div>
</form>

@section Styles
{
    <link rel="stylesheet" href="~/css/Game/details.css" />
}
